.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.Ruserdata
.Renviron
*api_keys*
*/gxe_gwas_cache/*
*/gxe_gwas_files/*
data/raw_data/geno_dump/*
*.gdoc
*.pptx
log/*
*.ftpconfig
*.log
*.psrecord
*.out
*.gz
*.gtf
*.gff
*.gvf
*renf90.par*
Icon?
*test.txt*
data/raw_data/annotation/age12519-sup-0006-tables3.xlsx
*.pdf
*weather.rds
data/raw_data/import_join_clean/tissue.rds
data/raw_data/import_join_clean/200820_sample_sheet.csv
data/raw_data/import_join_clean/animal_table.rds
